.jumbotron{
  text-align: right;
  color: yellow; background-image:url("http://wallpaper-gallery.net/images/black-background-image/black-background-image-1.jpg");

  margin-top: 25px;

}
.blue{
  background-color: ;
}
